# Python
backend/venv/
backend/__pycache__/
__pycache__/
*.pyc

# Environment variables
.env
.env.*

# Node
node_modules/
frontend/node_modules/

# Build
dist/
build/


.env
.env.*
backend/.env
backend/venv/
node_modules/
frontend/node_modules/
__pycache__/
*.pyc
dist/
build/